<h1>Mis Vacunas</h1>

<%@vacuna=VacunaDada.where(:user_id => current_user.id)%>

<% @vacuna.each do |f|%>

<p><%= f.tipo_vacuna %></p> | <%= f.dosis%> | <%= f.observacion%> | <%= f.fecha_dada%> 
<br>

<%end%>