@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

.center-table{

   text-align: center;
   border: black solid;
   padding: 1rem;
}

.center-table th{
   padding-right: 2em;
}

.navbar-text.float-right{
   margin-top: 0%;
   position: fixed;
   top:0;
   left:0;
   width: 100%;
   height: 56px;
   font-family: "Montserrat", sans-serif;
   background-color: rgb(150, 206, 122);

}
.navbar-text.float-right a{
   padding-right: 1rem;
   padding-left: 1rem;
   text-decoration: none;
   color: black;
   font-size: 0.84em;
   font-weight: 500;
   text-transform: uppercase;
   display: inline-block;
   -webkit-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}

.navbar-text.float-right a:hover{
   color: #155728;
   transition-duration: 0.3s;
}
.msg{
   padding-top: 2rem;
}

.logo{
   position: fixed;
   top:0px;
   right: 0px;
}

