.center-table{

   text-align: center;
   border: black solid;
   padding: 1rem;
}

.center-table th{

   padding-right: 2em;

}

.navbar-text.float-right{
   margin-top: 0%;
   position: fixed;
   top:0;
   width: 100%;
   height: 56px;
   background-color: rgb(56, 156, 43);

}
.navbar-text.float-right a{
   padding-right: 1rem;
   padding-left: 1rem;

   text-decoration: none;
   color: black;
   transition-duration: 0.3s;
}

.navbar-text.float-right a:hover{
   background-color: rgba(50, 212, 29, 0.644);
   transition-duration: 0.3s;
}