// Place all the styles related to the vacunadores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.table-vac{
    text-align:center;
    float:left;
    padding-right:15px;
    padding-left:15px;
    border:black 1px solid;
    margin: 1rem;
    border-radius: 3px;
}

.table-vac caption{
    border:black 1px solid;

}
.table-vac a{
    color: blue;
}

th{
    padding-left: 1rem;
    padding-right: 1rem;
}
