<p>Hola <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nos estamos contacta para avisarle que se esta cambiando su mail <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nos estamos contacta para avisarle que se esta cambiando su mail <%= @resource.email %>.</p>
<% end %>
